@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.schedules {
	@apply w-full py-36;
	@apply bg-gray-50;
	&-container {
		@apply flex justify-between;
		@media (max-width: theme('screens.md')) {
			@apply flex-col items-center;
		}
	}
	&-ilustration {
		@apply w-1/4 mr-8;
		animation: float 6s ease-in-out infinite;
		@media (max-width: theme('screens.md')) {
			@apply hidden;
		}
	}
	&-info-container {
		@apply w-full max-w-2xl flex-1 flex flex-col;
		&-title {
			@apply text-4xl;
		}
		&-separator {
			@apply w-20 h-0.5 my-8;
			@apply bg-gray-900;
		}
		&-features {
			@apply w-full mt-14 flex flex-wrap;
			&-article {
				@apply flex flex-col w-1/2 pr-5;
				.title {
					@apply mb-4;
					@apply font-bold;
				}
				.description {
					@apply text-sm;
				}
				@media (max-width: theme('screens.md')) {
					@apply w-full pr-0;
					&:not(:last-child) {
						@apply mb-8;
					}
				}
			}
		}
		@media (max-width: theme('screens.md')) {
			@apply items-center text-center;
		}
	}
	@media (max-width: theme('screens.md')) {
		@apply py-16;
	}
	@media (max-width: theme('screens.sm')) {
		@apply hidden;
	}
}
